<footer class="footer">
  <div class="container">
    <div class="row">
      <div class="footer-col">
        <h4>BLOG APPLICATION</h4>
        <ul>
          <li><a href="#">about us</a></li>
          <li><a href="#">our services</a></li>
          <li><a href="#">privacy policy</a></li>
        </ul>
      </div>
      <div class="footer-col">
        <h4>Contact Us</h4>
        <ul>
          <li><a href="#"><i class='fa fa-home'></i> 59, Hayden Street, ON, Canada</a></li>
          <li><a href="#"><i class='fa fa-envelope'></i> mail&#64;info.com</a></li>
          <li><a href="#"><i class='fa fa-phone'></i> +1(204)-321-1234</a></li>
        </ul>
      </div>
      <div class="footer-col">
        <h4>follow us</h4>
        <div class="social-links">
          <div class="social-links">
            <a href="#"><i class="fab fa-facebook"></i></a>
            <a href="#"><i class="fab fa-twitter"></i></a>
            <a href="#"><i class="fab fa-instagram"></i></a>
            <a href="#"><i class="fab fa-linkedin"></i></a>
          </div>
          
        </div>
      </div>
      <div class="footer-col">
        <h4>Subscribe</h4>
        <p class='describ'>Don't miss to subscribe to our new feeds, kindly fill the form below.</p>
        <form>
          <input class='form-input' type="text" placeholder="Email Address" />
          <button><i class="fab fa-telegram"></i></button>
        </form>
      </div>
    </div>
  </div>
</footer>
